a {}


/* play 12FPS and 24FPS buttons*/	
.play, .play:active{
  -fx-background-color: #00FF00;
  -fx-text-fill: #000000;
  -fx-border-color:#000000;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;
  }
  
 /*Change on active button */
.play:active {
	-fx-background-color: #008b00;
}
 /*Back frame and Next frame buttons */
.changeFrame, .changeFrame:active {
  -fx-background-color: #4876ff;
  -fx-text-fill: #000000;
  -fx-border-color:#000000;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;	
}
/*Change on active button */
.changeFrame:active{
	-fx-background-color:#27408b;
	}
/*add frame button */
.addFrame, .addFrame:active{
  -fx-background-color: #63b8ff;
  -fx-text-fill: #000000;
  -fx-border-color:#000000;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;		
}

/*change on active button */
.addFrame:active {
	-fx-background-color:#4f94cd;
	}
	
/* add stickman button */
.addStickman{
  -fx-background-color: #87ceff;
  -fx-text-fill: #000000;
  -fx-border-color:#000000;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;		
}

/*undo button */
.undo {
  -fx-background-color: #20b2aa;
  -fx-text-fill: #000000;
  -fx-border-color:#000000;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;			
}
/*Textfield input frame number */
.txtFrame {
	-fx-text-fill:#000000;
	-fx-background-color:#bbffff;
}

/*submit button */
.submit, .submit:active  {
  -fx-background-color: #008b45;
  -fx-text-fill: #000000;
  -fx-border-color:#000000;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;	
}
/*change when active */
.submit:active {
	  -fx-background-color: #ffffff;
}






